<h1 style="font-weight: 300">Hello World !</h1>

<p style="font-weight: 300">This is a skeleton that i created and adapted since Phalcon 2.0, so its my baby , pride and joy 😁</p>
<p style="font-weight: 300">this is multi lingual support for medium/large applications, feel free to just use one if you dont need it.</p>

<h1 style="color: navy"> This is the EN ( English ) Version</h1>
<a href="/portuguese">Click here and try switching to the Portuguese Version</a>
