
<!DOCTYPE html>
<html lang="en" data-template="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Phalcon v5 Skeleton">
  <meta name="author" content="Hudson Nicoletti">

  <title>Phalcon v5 Skeleton</title>

  <?php echo $this->assets->outputCss(); ?>
  <link rel="shortcut icon" href="/assets/images/favicon/favicon-76.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/favicon-83.5@2x.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-29@2x.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-20.png">

</head>
<body>


  <?php echo $this->getContent();?>
  <?php echo $this->assets->outputJs(); ?>

</body>
</html>
