<h1 style="font-weight: 900">Hello World !</h1>

<p style="font-weight: 900">This is a skeleton that i created and adapted since Phalcon 2.0, so its my baby , pride and joy 😁</p>
<p style="font-weight: 900">this is multi lingual support for medium/large applications, feel free to just use one if you dont need it.</p>

<h1 style="color: red"> This is the PT ( Portuguese ) Version</h1>
<a href="/english">Click here and try switching to the English Version</a>
